body {
  margin: 0px;
  font-family: Be Vietnam Pro;
}
.nav {
  display: flex;
  height: 75px;
  min-width: 200px;
  background-color: #1d97af;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.logo {
  height: 50px;
  width: 54px;
  margin-left: 5%;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.burger {
  height: 50px;
  width: 54px;
  margin-right: 5%;
}

.menu-option {
  display: none;
}

.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/home_background.jpg");
}

.hacker {
  height: 300px;
  width: 300px;
}

.h1 {
  font-size: 2.5rem;
  /* color: #1d97af; */
  color: white;
  -webkit-text-stroke: 2px #ffffff;
  text-shadow: 2px 3px 5px black;
  margin-left: 1%;
}

@media (min-width: 950px) {
  .nav {
    height: 120px;
  }

  .home {
    height: 90vh;
  }

  .hacker {
    align-self: flex-end;
    padding-top: 200px;
    height: 400px;
    width: 400px;
  }

  .h1 {
    align-self: flex-start;
    font-size: 3.5rem;
  }

  .logo {
    height: 80px;
    width: 85px;
  }

  .burger {
    display: none;
  }

  .nav-right {
    justify-content: space-evenly;
    padding-left: 30%;
  }

  .menu-option {
    display: inline-block;
    color: #ffffff;
    background: none;
    border: none;
    font-size: 20px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  background-color: #444444;
  align-items: center;
}

.info-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.h2 {
  color: #e0e0e0;
}

.info-paragraph {
  color: #e0e0e0;
}

.hacker2 {
  width: 120px;
  height: 120px;
}

/* media: info sector */

@media (min-width: 950px) {
  .info {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 5% 0px;
    padding-left: 5%;
  }

  .h2 {
    align-self: flex-start;
    font-size: 3rem;
  }

  .info-paragraph {
    width: 75%;
    align-self: flex-start;
    font-size: 1.5rem;
  }

  .hacker2 {
    width: 300px;
    height: 300px;
    margin-right: 60px;
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 271px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.serviceimg {
  height: 100px;
  width: 100px;
}

.article-title {
  font-weight: 700;
  font-size: 1.5rem;
}

@media (min-width: 950px) {
  .services-container {
    display: flex;
    flex-direction: row;
    gap: 10vw;
    padding: 5% 0px;
  }

  .title {
    font-size: 3rem;
  }
}

.contact,
form {
  background-color: #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e0e0e0;
}

.fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2% 0px;
}

input {
  width: 98%;
}

.send {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #1d97af;
  color: #ffffff;
  font-weight: 900;

  margin-bottom: 3.5%;
}

@media (min-width: 950px) {
  .contact {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10% 20%;
    padding-left: 15%;
  }
}

.footer {
  height: 493px;
  padding-top: 75px;
  padding-left: 40px;
}

.logo-footer {
  height: 80px;
  width: 80px;
}

.upper-footer {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.lower-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.redset {
  display: flex;
}

.img-footer {
  height: 30px;
  width: 30px;
  align-self: center;
  margin-right: 7px;
}

.footer-p {
  font-style: italic;
  font-size: 18px;
}

.footer-link {
  text-decoration: none;
  color: #444444;
}

@media (min-width: 950px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
  }

  .upper-footer {
    justify-content: center;
  }
}
